.pokemon-detail-modal {
    max-width: 80%; 
  }
  
  .mat-dialog-title {
    background-color: #bec0ca; 
    color: white; 
    padding: 16px; 
  }
  
  .mat-dialog-content {
    padding: 16px; 
  }
  
  .mat-dialog-actions {
    justify-content: flex-end; 
  }
  